@model DogsSocialNetwork.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


Hello @Model.FirstName @Model.LastName!

@Html.ActionLink("Pets", "Pets", new { userId = Model.Id })
@Html.ActionLink("Chat", "Index", "Chat", new { user = $"{Model.FirstName} {Model.LastName}", logOn = true }, null)
