@model DogsSocialNetwork.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-md-10">
    Hello @Model.FirstName @Model.LastName!
</div>
<div class="col-md-10">
    @Html.ActionLink("Pets", "Pets", new { userId = Model.Id })
</div>

<div class="col-md-10">
    @Html.ActionLink("Chat", "Index", "Chat", new { user = $"{Model.FirstName} {Model.LastName}", logOn = true }, null)
</div>
